<div class='grid-x footer'>
        <div class='cell market'>
            <p> Disponivel nos estados </p>
            <ul class='estados'>
                <li> Acre </li>
                <li> Alagoas </li>
                <li> Amapá </li>
                <li> Amazonas </li>
                <li> Bahia </li>
                <li> Brasilia </li>
                <li> Ceara </li>
                <li> Espirito Santo </li>
                <li> Goiás </li>
                <li> Minas Gerais </li>
                <li> Maranhão </li>
                <li> Mato Grosso</li>
                <li> Mato Grosso do Sul </li>
                <li> Pará </li>
                <li> Paraiba </li>
                <li> Paraná </li>
                <li> Pernambuco </li>
                <li> Piaui </li>
                <li> Rio de Janeiro </li>
                <li> Rio Grande do Norte </li>
                <li> Rio Grande do Sul </li>
                <li> Rondonia </li>
                <li> Roraima </li>
                <li> São Paulo </li>
                <li> Santa Catarina </li>
                <li> Sergipe </li>    
                <li> Tocatins </li>
            </ul>
        </div>
        <div class='cell diversos'>
            <ul class='menu align-right'>
                <li class='links'><a>Perguntas</a></li>
                <li class='links'><a>Termos</a></li>
                <li class='links'><a>Sobre</a></li>
                <li class='links'><a>Contato</a></li>
            </ul>
        </div>
        <div class='cell rights'>
            <p class='ahvava'> &copy; Copyright 2019, OtterSystem.corp. </p>
        </div>
    </div>