<div class="grid-x menu">
        <div class="cell small-8 medium-8 large-8">
            <ul class="menu-ul">
                <li class='links'><a href='/dashboard'> Principal </a></li>
                <li class='links'><a href='/service/painel'> Painel </a></li>
                <li class='links'><a href='/user/buscas'> Buscar </a></li>
            </ul>
        </div>
        <div class="cell small-4 medium-4 large-4">
            <ul class="menu-ul direita-vai">
                <% if(logado.typo == 'Normal'){ %>
                  <li class='links'><a href='/service/espera'> Em espera </a></li>
                  <li class='links'><a href='/service/transitando'> A caminho </a></li>
                <% }else{ %>
                  <li class='links'><a href='/service/caixa'> Caixa </a></li>
                  <li class='links'><a href='/service/ordenado'> Minhas entregas </a></li>
                <% } %>
                <li class='links'><a href='/user/usuario/<%= logado._id %>'> Perfil </a></li>
                <li class='links'><a href='/user/logout/'> Sair <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
    </div>
    <% include ./partials/footer %>